@tailwind base;
@tailwind components;
@tailwind utilities;
/* import */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* global font and gradient background */
html {
  font-size: 12px;
}
body {
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
h1,
a,
p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}
/* custom input */
input {
  background: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  padding-right: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: color 200ms linear;
}
/* show paragraph with forced input */
.que {
  display: grid;
}
.ans {
  display: none;
}
.arrow-bottom {
  display: none;
}
.que:focus-within p {
  display: block;
}
.que:focus-within .arrow-bottom {
  display: block;
  bottom: 80%;
}
.que:focus-within .arrow-top {
  display: none;
}
/* moving box */
.box {
  position: absolute;
  top: 44%;
  left: -6%;
}
main:hover .box {
  left: -10%;
}
.big-img {
  filter: drop-shadow(-80px 120px 0px hsla(0, 0%, 0%, 0.161));
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.attribution {
  font-size: 11px;
  text-align: center;
  background: white;
  min-width: 10rem;
  padding: 0 1rem;
}
.attribution a {
  font-weight: 900;
  color: hsl(228, 45%, 44%);
}
