@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-size: 12px;
}
body {
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}
h1,
p {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}
input {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  padding-right: 1rem;
  font-weight: 400;
  transition: color 100ms linear;
}
.box {
  position: absolute;
  top: 44%;
  left: -6%;
}

main:hover .box {
  left: -10%;
}
.que {
  display: grid;
}
.ans {
  display: none;
}

.arrow-bottom {
  display: none;
}
.que:focus-within p {
  display: block;
}

.que:focus-within .arrow-bottom {
  display: block;
  bottom: 80%;
}
.que:focus-within .arrow-top {
  display: none;
}
